# Web client (this) host
VITE_WEB_HOST=https://xxxx-xx-xxx-xxx-xx.ngrok-free.app

# Telegram username (without @) that receives new bookings from Web App checkout
VITE_MANAGER_USERNAME=your_manager_username_here
